<section class="section">
    <div class="whats" id="contact">
        <h1>Entre em contato conosco pelo WhatsApp</h1>
        <a href="https://wa.me/5581995096505?text=Ol%C3%A1%20Brito%20%26%20Associados%2C%20estou%20interessado%20em%20saber%20mais%20sobre%20seus%20servi%C3%A7os%20e%20gostaria%20de%20conversar%20com%20voc%C3%AAs."
            target="_blank" rel="noopener noreferrer">
            <button class="custom-button" pButton [rounded]="true" label="Nosso contato"></button>
        </a>
    </div>

    <div class="display-outline">
        <div class="outline"></div>
        <p>OU</p>
        <div class="outline"></div>
    </div>

    <div class="contact-email">
        <h1>Entre em contato pelo nosso e-mail</h1>
        <div class="send-email-container">
            <a href="mailto:britoeassociadostreinamentos@gmail.com" class="email-link">
                <button class="custom-button" pButton [rounded]="true" label="Enviar e-mail"
                    title="britoeassociadostreinamentos@gmail.com"></button>
            </a>
        </div>
    </div>


</section>